<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- scale the entire application, default is 16 -->
		<add key="square_size" value="16" />
		<!-- not implemented yet-->
		<add key="game_array_width" value="16" />
		<!-- not implemented yet-->
		<add key="game_array_height" value="30" />
	</appSettings>
</configuration>